/* =========================================================================
   Styles for the face-recognition
   ========================================================================= */

.content {
    min-height: 532px;
}

.database {
    .database-person {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
        margin: $size-base/2;
        float: left;
        background-position: 50% 50%;
        padding: 50px 0 0 10px;
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px #000000;
    }
}

#startButton {
    display: none;
    margin-bottom: $size-base;
}

#stopButton {
    display: none;
    margin-bottom: $size-base;
}

.brf-logo {
    height: 50px;
    width: auto;
}